.~
*~
gschemas.compiled
*.mo
po/xdock.pot
stylesheet.css
_build
node_modules/
.npm/
dist/
__pycache__/
*.pyc
debian/.debhelper/
debian/files
debian/gnome-shell-extension-xdock/
debian/*.substvars
debian/*.log
debian/debhelper-build-stamp
